@tailwind base;
@tailwind components;
@tailwind utilities;

/* purple , black, neon : gradient from #A256F7 via #f657fc to #A256F7  color for background-gradient*/

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --section-alt: #f0f0f0;

  --text-primary: #121212;
  --text-secondary: #666666;

  --card-bg: #ffffff;
  --card-bgs: #ffffff;
  --card-border: rgba(0, 0, 0, 0.08);

  --accent: #00ced1;

  --shadow-soft: 0 20px 40px rgba(0, 0, 0, 0.08);
  --gradient-from: #c5d4ff;
  --gradient-to: #e0e8ff;

  
  --from: #A256F7;
  --via: #f657fc;
  --to: #A256F7;

  --button : #A256F7;
}

[data-theme="dark"] {
  --bg-primary: #121212;
  --bg-secondary: #000000;
  --section-alt: #0b0b0b;

  --text-primary: #ffffff;
  --text-secondary: #aaaaaa;

  --card-bg: rgba(255, 255, 255, 0.06);
  --card-bgs: rgba(62, 47, 104, 0.771);
  --card-border: rgba(255, 255, 255, 0.12);

  --accent: #00ced1;

  --shadow-soft: 0 20px 40px rgba(0, 0, 0, 0.6);
  --gradient-from:#3a0077;
  --gradient-to: #17002d;


  --from: #63A4FA;
  --via: #f657fc;
  --to: #63A4FA;

  --button : #A256F7;
}

.bgGradient {
  background: linear-gradient(
    to top right,
    #110f35,
    #000002,
    #220141
  );
  padding: 70px 0;
}
